.qcard-bg {
    width: 100vw;
    height: 100dvh;
    position: fixed;
}
.qcard-top-bar {
    display: grid;
    grid-template-columns: minmax(0, 50%) minmax(0, 50%);
    grid-template-rows: 100%;
    gap: 40px;
    background-color: #0F60D9;
    color: white;
    padding: 0 10px;
    height: 45px;
    font-size: .9em;
}
.qcard-top-bar div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.qcard-exit-note {
    display: flex;
    align-items: center;
}
.qcard-exit-note img{
   height: 35px;
   cursor: pointer;
}
.qcard-question-head {
    display: flex;
    gap: 10px;
}
.qcard-question-head h3 {
    font-weight: 500;
}
.qcard-timer-head img{
    height: 35px;
    cursor: pointer;
    display: block;
}
.qcard-timer-head h1 {
    visibility: visible;
    font-weight: 600;
}
.qcard-timer-head h1[data-show='false'] {
    visibility: hidden;
}
#show[data-show='false'] {
    display: none;
}
#hide[data-show='true'] {
    display: none;
}
#qcard-back-button{
    background-color: #040033;
    display: inline-block;
    justify-content: center;
    color: white;
    padding: 5px 8px;
    margin: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: all .3s;
}
#qcard-back-button:hover {
    background-color: #2b2286;
}
#qcard-back-button a {
    text-decoration: none;
    color: white;
}
.qcard-top-line {
    width: 100%;
    height: 4px;
    background-color: #040033;
}
.qcard-top-icons {
    width: 100%;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#share {
    position: relative;
    right: 10px;
    height: 35px;
    cursor: pointer;
}
#unflag {
    position: absolute;
    right: 60px;
    height: 45px;
    top: -5px;
    cursor: pointer;
    display: inline;
}
#unflag[data-flag='true'] {
    display: none;
}
#flag[data-flag='false'] {
    display: none;
}
#flag {
    display: inline;
    position: absolute;
    right: 60px;
    height: 45px;
    top: -1px;
    cursor: pointer;
}
.qcard-bottom-icons {
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#arrow[data-show='0'] {
    display: none;
}
#arrow {
    display: inline;
    position: relative;
    right: 15px;
    width: 60px;
}
.qcard-main-content {
    width: 100%;
    height: calc(100dvh - 45px - 4px - 40px - 60px);
    background-color: white;
    display: grid;
    grid-template-columns: minmax(0, 50%) 2px minmax(0, 50%);
    grid-template-rows: 100%;
}
.qcard-mid-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.qcard-mid-bar div {
    width: 100%;
    border-radius: 5px;
    height: 80%;
    background-color: #040033;
}
.qcard-text {
    padding:  10px 40px;
    overflow: scroll;
}
.qcard-text h2 {
    font-weight: 500;
}
.qcard-choices {
    padding: 10px 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow: scroll;
}
.qcard-answer-choice {
    display: flex;
    gap: 20px;
    border: solid 3px #040033;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s;
}
.qcard-answer-choice:hover {
    background-color: #FFD66D;
}
#choice1[data-selected='1'] {
    background-color: #FFB800;
}
#choice2[data-selected='2'] {
    background-color: #FFB800;
}
#choice3[data-selected='3'] {
    background-color: #FFB800;
}
#choice4[data-selected='4'] {
    background-color: #FFB800;
}
#qcard-letter {
    display: flex;
    justify-content: center;
}
#qcard-letter span {
    width: 40px;
    height: 40px;
    display: inline-flex; /* you can also use 'grid' or just 'flex'*/
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 3px solid #040033;
    font-weight: 500;
}
.qcard-choice-cont {
    display: flex;
    align-items: center;
}
.qcard-choice-cont h2{
    font-weight: 500;
}