
.qcard-answer-choice {
    display: flex;
    gap: 20px;
    border: solid 2px #040033;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s;
}

.qcard-answer-choice:hover {
    background-color: #ffe49e;
}

.qcard-answer-choice.correct {
    background-color: #a5ebb5;
}

.qcard-answer-choice.incorrect {
    background-color: #f4b4b9;
}

.qcard-answer-choice.selected {
    background-color: #FFD66D;
}

/* remove hover */
.qcard-answer-choice.ecard {
    cursor: auto;
    pointer-events: none;
}

#qcard-letter {
    display: flex;
    justify-content: center;
}

#qcard-letter span {
    width: 40px;
    height: 40px;
    display: inline-flex;
    /* you can also use 'grid' or just 'flex'*/
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #040033;
    font-weight: 500;
}

.qcard-choice-cont {
    display: flex;
    align-items: center;
}

.qcard-choice-cont h2 {
    font-weight: 400;
}
