
.qcard-answer-choice {
    display: flex;
    gap: 20px;
    border: solid 2px #040033;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s;
}

.qcard-answer-choice[data-ecard='false'] {
    display: none;
}

.qcard-answer-choice[data-ecard='true'] {
    display: flex;
}

.qcard-answer-choice:hover {
    background-color: #ffe49e;
}

.qcard-answer-choice.correct {
    background-color: #d4edda;
}

.qcard-answer-choice.incorrect {
    background-color: #f8d7da;
}

.qcard-answer-choice.selected {
    background-color: #FFD66D;
}

.qcard-answer-choice[data-ecard='true'] {
    cursor: auto;
    pointer-events: none;
}

.qcard-answer-choice[data-correct='true'] {
    background-color: #58FF3D !important;
}

#choice1[data-selected='1'] {
    background-color: #FFB800;
}

#choice1[data-selected='1'][data-correct='false'] {
    background-color: #FF483D;
}

#choice2[data-selected='2'] {
    background-color: #FFB800;
}

#choice2[data-selected='2'][data-correct='false'] {
    background-color: #FF483D;
}

#choice3[data-selected='3'] {
    background-color: #FFB800;
}

#choice3[data-selected='3'][data-correct='false'] {
    background-color: #FF483D;
}

#choice4[data-selected='4'] {
    background-color: #FFB800;
}

#choice4[data-selected='4'][data-correct='false'] {
    background-color: #FF483D;
}

#qcard-letter {
    display: flex;
    justify-content: center;
}

#qcard-letter span {
    width: 40px;
    height: 40px;
    display: inline-flex;
    /* you can also use 'grid' or just 'flex'*/
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #040033;
    font-weight: 500;
}

.qcard-choice-cont {
    display: flex;
    align-items: center;
}

.qcard-choice-cont h2 {
    font-weight: 500;
}
