.module-card-cont {
    width: 80%;
    height: 96%;
    background-color: #EED8FF;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: minmax(0, 60%) minmax(0, 40%);
    border: 2px solid rgba(255, 255, 255, 0.75);
}

/* colorings of module cards based on sutopic */
.bgCalculus {
    background-color: #FFCBB6;
    border-color: #FFA681;
}
.bgCalculus h2 {
    background-color: #FE8D5E;
}
.bgCalculus img[data-ver='calc']{
    display: inline;
}
.bgCalculus h2:hover {
    background-color: #fe763c;
}

.bgLinearAlgebra {
    background-color: #FFD9B6;
    border-color: #FEBE5E;
}
.bgLinearAlgebra h2 {
    background-color: #FEBE5E;
}
.bgLinearAlgebra img[data-ver='calc']{
    display: inline;
}
.bgLinearAlgebra h2:hover {
    background-color: #ffb13b;
}

.a665973656be4de16c18f3d31 {
    background-color: #D8FAFF;
    border-color: #2EDFF9;
}
.a665973656be4de16c18f3d31 h2{
    background-color: #2EDFF9;
}
.a665973656be4de16c18f3d31 img[data-ver='m2']{
    display: inline;
}

.a6659736d6be4de16c18f3d33 {
    background-color: #EED8FF;
    border-color: #D196FF;
}
.a6659736d6be4de16c18f3d33 h2{
    background-color: #D196FF;
}
.a6659736d6be4de16c18f3d33 img[data-ver='m3']{
    display: inline;
}